body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container {
  width: 60%;  /* Increased width */
  max-width: 600px; /* Set a maximum width */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

input {
  padding: 10px;
  margin-top: 10px;
  width: 100%; /* Full width */
  box-sizing: border-box; /* Includes padding and border in the element's total width */
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px; /* Adds space between the input and list */
}

button {
  background-color: #5CDB95;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #379683;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allows elements to wrap within the container */
}

li div {
  display: flex;
  flex-grow: 1; /* Allows the div to grow and fill available space */
  justify-content: flex-end; /* Aligns buttons to the right */
}

li button {
  margin-left: 10px;
  white-space: nowrap; /* Prevents buttons from wrapping */
}
